@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
body {
    font-family: 'Balsamiq Sans', cursive;
    background: url('https://img5.goodfon.ru/wallpaper/nbig/c/6e/tekstura-fon-chernyi-celebration-pattern-design.jpg');
    padding: 100px 0;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container{ 
    width: 800px;
    font-family: 'Balsamiq Sans', cursive;
    min-height: 800px;
    border: 10px  solid white;
    margin: 0 auto;
    background: #fff;
}

.header{
    display: flex;
    height: 150px;
   
}

.title-block{
    position: relative;
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: #fff;
    margin-right: 10px;
    background: url("https://wallpaper.dog/large/5557995.jpg") no-repeat center center / cover;
}
.title-block::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}
.title{
    position: relative;
    z-index: 1;
}
.userpic{
    display: flex;
    width: 20%;
    height: 100%;
    background: url("https://sun9-31.userapi.com/impg/kxctio5bNrzr9mlruQQIudUViBEYH8YmSNVPrw/9PUTp9ISIpQ.jpg?size=1079x1080&quality=96&sign=dd02dc9525ace0f480dc5d6b8a84c92a&type=album") no-repeat center center / cover;
}
.nav ul{
    display: flex;
    background: rgb(209, 204, 204);
    margin: 10px 0;
}
.nav li a{
    display: flex;
    padding: 20px;
    text-decoration: none;
    color: #404040;
    font-weight: bold;
    transition: background .3s ease;
    border-right: 2px solid rgb(190, 190, 190);
}
.nav li a:hover{
    background: rgb(173, 173, 173);
}
.content-wrapper{
    display: flex;
}
.content{
    width: 70%;
    padding: 20px;
}

.content p{
    line-height: 20px;
}

.sidebar{
    width: 30%;
    padding: 20px;
}

.skills li{
    padding: 10px 0;
    transition: transform .5s ease;
    cursor: pointer;
}

.skills li:hover{
    transform: translateX(10px);
}